@media only screen and (max-width: 600px) {
	.logoImage {
		margin-left: 1rem;
	}
	.buttons {
		display: none;
	}
	.searchInput {
		margin: 0 auto;
	}
}

@media only screen and (min-width: 600px) {
	nav {
		align-items: center;
	}
	.buttons {
		display: none;
	}
	.logoImage {
		margin-left: 1rem;
	}
	.searchInput {
		margin: 0 auto;
	}
}
@media only screen and (min-width: 768px) {
	.menu {
		display: none;
	}
	.logoImage {
		margin-left: 1rem;
	}
	.buttons {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	.searchInput {
		margin: 0;
	}
}

@media only screen and (min-width: 992px) {
	.logoImage {
		margin-left: 1rem;
	}
}

@media only screen and (min-width: 1200px) {
	.logoImage {
		margin-left: 0;
	}
	.itemContent h1 {
		font-size: 1.25rem;
	}
}

.headerContainer {
	background: #f0141e;
	margin-bottom: 2rem;
}

.headerContent {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.menu {
	position: absolute;
	right: 1rem;
	font-size: 1.5rem;
	color: #f5f5f5;
}

.logoImage {
	height: 4rem;
}

.buttons nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.buttons nav a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #f0141e;
	background: #f5f5f5;
	height: 2.5rem;
	font-size: 1rem;
	margin: 1rem 1rem 1rem 0;
	padding: 1rem;
}

.buttons nav a.active {
	background: #000;
	color: #f5f5f5;
}

.buttons a span {
	margin-left: 0.5rem;
	font-weight: 700;
}

/******************************************/

.mobileContent {
	justify-content: center;
	display: grid;
	padding: 1rem 0;
}

.mobileButtons nav a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #f5f5f5;
	height: 2.5rem;
	font-size: 1.5rem;
	margin: 1rem 1rem 1rem 0;
	padding: 1rem;
	justify-content: center;
	width: 100%;
}

.mobileButtons nav a.active {
	border-bottom: 1px solid #f5f5f5;
}

.mobileButtons a span {
	margin-left: 0.5rem;
}

.mobileLogo {
	display: none;
}

.noSearch {
	display: none;
}
