.itemContainer {
	background-color: #f5f5f5;
	border-radius: 1rem;
	padding: 1rem;
	justify-content: flex-start;
	cursor: pointer;
}

.itemContent {
	display: grid;
	gap: 1rem;
	grid-template-columns: 25% 70%;
}

.itemDetails strong {
	margin-right: 0.5rem;
}
.itemDetails div:last-of-type strong {
	margin-right: 1rem;
}

.comic-thumbnail-container {
	width: 100%;
}

.comic-thumbnail {
	width: 100%;
	display: flex;
}

.itemContent h1 {
	margin-bottom: 0.5rem;
	font-weight: 700;
	font-size: 1rem;
}
