@media (max-width: 400px) {
	input {
		width: 10rem;
	}
}
@media (max-width: 1150px) {
	.logoImage {
		margin-left: calc(1rem - 2px);
	}
	.listContainer {
		width: calc(100% - 2rem);
	}
	.searchContainer {
		margin: 0 1rem 0 0;
	}
}

.headerContainer {
	background: #f0141e;
	margin-bottom: 2rem;
}

.headerContent {
	max-width: 1120px;
	margin: 0 auto;
	padding: 2rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logoImage {
	height: 4rem;
}
