@media (min-width: 720px) {
	.comicsContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 1150px) {
	.comicsContainer {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 1150px) {
	.comicsContainer {
		width: calc(100% - 2rem);
	}
}

.comicsContainer {
	max-width: 1120px;
	margin: 0 auto;
	display: grid;
	gap: 1rem;
}

.spinnerContainer {
	margin-top: 10rem;
}

.spinner {
	color: #f0141e;
	margin-left: 50%;
	grid-template-columns: 1fr;
}
