@media only screen and (max-width: 600px) {
	.comicsContainer {
		width: calc(100% - 2rem);
	}
	.buttonMore button {
		padding: 1rem 5rem;
	}
}
@media only screen and (min-width: 600px) {
	.comicsContainer {
		width: calc(100% - 2rem);
	}
	.buttonMore button {
		padding: 1rem 5rem;
	}
}

@media only screen and (min-width: 768px) {
	.comicsContainer {
		grid-template-columns: repeat(2, 1fr);
		width: calc(100% - 2rem);
	}
}
@media only screen and (min-width: 992px) {
	.comicsContainer {
		grid-template-columns: repeat(3, 1fr);
		width: calc(100% - 2rem);
	}
	.buttonMore button {
		padding: 1rem 10rem;
	}
}

@media only screen and (min-width: 1200px) {
	.buttonMore button:hover {
		background: var(--yellow);
		color: var(--black);
	}
}

.comicsContainer {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	gap: 1rem;
}

.spinnerContainer {
	margin-top: 10rem;
}

.spinner {
	color: var(--red);
	margin-left: 50%;
	grid-template-columns: 1fr;
}
.buttonMore {
	display: flex;
	justify-content: center;
}

.buttonMore button {
	background: var(--red);
	margin: 1rem 2rem 0 2rem;
	border-radius: 1rem 1rem 0 0;
	color: var(--white);
	box-shadow: rgb(0 0 0 / 30%) 2px 2px 10px 1px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
