* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

:root {
	--yellow: #f1c40f;
	--red: #f0141e;
	--white: #f5f5f5;
	--light-gray: #808080;
	--dark-gray: #696969;
	--black: #000000;
}

body {
	background: var(--light-gray);
}

button {
	border: none;
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 70%;
		border-style: none;
	}
}
@media only screen and (min-width: 768px) {
	html {
		font-size: 87.5%;
	}
}
@media only screen and (min-width: 992px) {
	html {
		font-size: 93.75%;
	}
}
